@import '../../../../_variables.sass'

.mat-toolbar
  position: static
  top: 0
  width: 100%
  z-index: 1000
  background-color: $color-azul-escuro
  padding: 10px 20px
  display: flex
  align-items: center
  margin-left: inherit
  flex-wrap: wrap // Permite que os itens se ajustem conforme necessário

  .logo
    width: 191px
    height: 43px
    background-image: url('../../../../assets/img/logo-oficial.png')
    background-size: contain
    background-position: center
    background-repeat: no-repeat
    margin-right: 20px
    flex-shrink: 0

  .versaoFonte
    order: 2
    align-self: flex-start
    margin-top: 13px
    font-size: 0.6em
    // color: $cor-da-fonte // substitua pela cor desejada
    text-align: left
    margin-left: -1%

  button
    // margem e outras propriedades, se necessário

.mat-menu
  color: $color-azul-escuro

  button
    color: $color-laranja
