<section>
  <div class="container text-center mt-5">
    <h2>Class Diagram View</h2>
    <p>
      In this step, a UML class diagram is generated based on the features
      selected by the user in the previous stage.
    </p>
    <br />
    <br />
  </div>

  <mat-tab-group (selectedTabChange)="onTabChanged()" class="mermaidClass">
    <mat-tab label="WebPlataform" >
      <div [innerHTML]="diagramWebMarkup" *ngIf="hasContent(diagramWeb)"></div>
    </mat-tab>
    <mat-tab label="MobileApp">
      <div [innerHTML]="diagramMobileMarkup" *ngIf="hasContent(diagramMobile)"></div>
    </mat-tab>
  </mat-tab-group>
</section>
