<section>
  <div class="container text-center mt-5">
    <h2>Feature Diagram Presentation</h2>
    <p>
      At this stage, visual diagrams are generated to illustrate the integration 
      of selected features into the overall ESL system. These diagrams provide 
      a clear depiction of the user's choices, offering a comprehensive 
      blueprint for the development of the ESL solution.
    </p>
    <br />
    <br />
  </div>

  <mat-tab-group (selectedTabChange)="onTabChanged()" class="mermaidClass">
    <mat-tab label="WebPlataform" >
      <div [innerHTML]="diagramWebMarkup" *ngIf="hasContent(diagramWeb)"></div>
    </mat-tab>
    <mat-tab label="MobileApp">
      <div [innerHTML]="diagramMobileMarkup" *ngIf="hasContent(diagramMobile)"></div>
    </mat-tab>
  </mat-tab-group>
</section>
