<section>
  <div class="container text-center mt-5">
    <h2>Select Your Features</h2>
    <p>This step is responsible for selecting the features for your ESL (Electronic Shelf Label) application.</p>
    <br>
  </div>
  <form [formGroup]="featureForm">
    <div *ngFor="let feature of features">

      <!-- Usando a função 'shouldDisplayQuestion' para verificar se a questão deve ser exibida -->
      <div *ngIf="shouldDisplayQuestion(feature)">

        <mat-checkbox class="example-margin" *ngIf="!feature.alternative" [checked]="allSelected(feature)"
          [indeterminate]="someSelected(feature)" (change)="setAll(feature, $event.checked)">
          {{feature.label}}
        </mat-checkbox>

        <section class="example-section" *ngIf="!feature.alternative; else alternativeTemplate">
          <span class="example-list-section">
            <ul>
              <li *ngFor="let option of feature.options">
                <mat-checkbox [checked]="featureForm.get(feature.key)?.value.includes(option.value)"
                  (change)="onOptionChange($event, feature, option)">
                  {{option.display}}
                </mat-checkbox>
              </li>
            </ul>
          </span>
        </section>

        <ng-template #alternativeTemplate>
          <section class="example-section">
            <mat-radio-group [formControlName]="feature.key" (change)="onRadioChange($event, feature)">
              <label>{{feature.label}}</label>
              <div *ngFor="let option of feature.options">
                <mat-radio-button [value]="option.value">{{option.display}}</mat-radio-button>
              </div>
            </mat-radio-group>
          </section>
        </ng-template>

      </div>
    </div>
  </form>
</section>
