  <section>
    <h3>Escolha as suas features</h3>
  <form [formGroup]="featureForm">
    <div *ngFor="let question of questions">

      <!-- Usando a função 'shouldDisplayQuestion' para verificar se a questão deve ser exibida -->
      <div *ngIf="shouldDisplayQuestion(question)">

        <mat-checkbox class="example-margin" *ngIf="!question.singleOption" [checked]="allSelected(question)"
          [indeterminate]="someSelected(question)" (change)="setAll(question, $event.checked)">
          {{question.label}}
        </mat-checkbox>

        <section class="example-section" *ngIf="!question.singleOption; else singleOptionTemplate">
          <span class="example-list-section">
            <ul>
              <li *ngFor="let option of question.options">
                <mat-checkbox [checked]="featureForm.get(question.key)?.value.includes(option.value)"
                  (change)="onOptionChange($event, question, option)">
                  {{option.display}}
                </mat-checkbox>
              </li>
            </ul>
          </span>
        </section>

        <ng-template #singleOptionTemplate>
          <section class="example-section">
            <mat-radio-group [formControlName]="question.key" (change)="onRadioChange($event, question)">
              <label>{{question.label}}</label>
              <div *ngFor="let option of question.options">
                <mat-radio-button [value]="option.value">{{option.display}}</mat-radio-button>
              </div>
            </mat-radio-group>
          </section>
        </ng-template>

      </div>
    </div>
  </form>
  <mat-card>
    <h2>Código Gerado</h2>
    <mat-card-content><pre>{{ featureForm.value | json }}</pre></mat-card-content>
  </mat-card>

  </section>
