<section>
  <div class="container text-center mt-5">
    <h2>Select Your Features</h2>
    <p>This step is responsible for selecting the features for your ESL (Electronic Shelf Label) application.</p>
    <br>
  </div>
  <br>
  <br>
  <br>
  <div class="container mt-3">
    <div class="icon-legend">
        <div class="icon-text">
            <mat-icon aria-hidden="false" aria-label="Example computer icon" fontIcon="computer"></mat-icon>
            <p class="inline-text">This icon represents the features for the web system.</p>
        </div>
        <div class="icon-text">
            <mat-icon aria-hidden="false" aria-label="Example mobile icon" fontIcon="add_to_home_screen"></mat-icon>
            <p class="inline-text">This icon represents the features for the mobile application.</p>
        </div>
        <div class="icon-text">
            <mat-icon aria-hidden="false" aria-label="Example mobile and computer icons" fontIcon="computer"></mat-icon>
            <mat-icon aria-hidden="false" aria-label="Example mobile and computer icons" fontIcon="add_to_home_screen"></mat-icon>
            <p class="inline-text">These icons together represent that the mobile and computer features are compatible, identical features for both platforms.</p>
        </div>
    </div>
</div>
<br>
<br>
<br>
  <form [formGroup]="featureForm">
    <div *ngFor="let feature of features">

      <!-- Usando a função 'shouldDisplayQuestion' para verificar se a questão deve ser exibida -->
      <div *ngIf="shouldDisplayQuestion(feature)">
        <mat-checkbox class="example-margin" *ngIf="!feature.alternative" [checked]="allSelected(feature)"
        [indeterminate]="someSelected(feature)" (change)="setAll(feature, $event.checked)">
        {{feature.label}}
      </mat-checkbox>
      <div class="iconStatus" *ngFor="let icon of getIconsForFeature(feature)">
        <mat-icon aria-hidden="false" aria-label="Example home icon" [fontIcon]="icon"></mat-icon>
      </div>
        <section class="example-section" *ngIf="!feature.alternative; else alternativeTemplate">

          <span class="example-list-section">
            <ul>
              <li *ngFor="let option of feature.options">
                <mat-checkbox [checked]="featureForm.get(feature.key)?.value.includes(option.value)"
                  (change)="onOptionChange($event, feature, option)">
                  {{option.display}}
                </mat-checkbox>
              </li>
            </ul>
          </span>
        </section>

        <ng-template #alternativeTemplate>
          <section class="example-section">
            <mat-radio-group [formControlName]="feature.key" (change)="onRadioChange($event, feature)">
              <label>{{feature.label}}</label>
              <div *ngFor="let option of feature.options">
                <mat-radio-button [value]="option.value">{{option.display}}</mat-radio-button>
              </div>
            </mat-radio-group>
          </section>
        </ng-template>

      </div>
    </div>
  </form>
</section>
