// Cores Globais
$color-laranja: #eaa159
$color-azul-escuro: #08305D
$color-branco: #ffffff
$color-bege: #f0bb86
$color-laranja-claro: #e4872c
$color-azul: #304D74

// Configuração geral do corpo
body
  font-family: 'Arial', sans-serif // Escolha a fonte que você preferir
  background-color: $color-azul-escuro
  color: $color-branco

// Logo configurações
.logo
  background-color: $color-azul
  .titulo
    color: $color-branco
  .icone
    color: $color-laranja
